.button {
  width: 355px;
  background-color: #0278fe;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.21;
  margin: 0;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background: #0063d2;
}
@media screen and (max-width: 768px) {
  .button {
    width: 84%;
  }
}
@media screen and (max-width: 620px) {
  .button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .button {
    width: 245px;
    font-size: 14px;
    padding: 20px 16px;
    margin: auto;
  }
  #footer__button {
    display: block;
    font-size: 18px;
    width: 151px;
    padding: 12px 13px;
  }
}
