.gallery {
  width: 92.5%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  margin: 0 auto 92px;
  border: 1px solid red;
}
.gallery__image {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .gallery {
    width: 93.8%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 16px;
    margin: 0 auto 88px;
  }
}
@media screen and (max-width: 320px) {
  .gallery {
    width: 93.8%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 16px;
    margin: 0 auto 62px;
  }
}
