.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 7.19%;
}
.header__box {
  width: 76.9%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 27.8%;
  height: auto;
  margin: 3.5% auto 9.2%;
}
.header__title {
  width: 80.6%;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  margin: 0 auto 3.3%;
}
.header__subtitle {
  width: 73.2%;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.04;
  text-align: center;
  margin: 0 auto 6.6%;
}
.header__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 7.19%;
  }
  .header__box {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__logo {
    width: 35.2%;
    height: auto;
    margin: 34px auto 11.8%;
  }
  .header__title {
    width: 93.8%;
    font-size: 96px;
    font-weight: 900;
    line-height: 1.04;
    text-align: center;
    margin: 0 auto 11.8%;
  }
  .header__subtitle {
    width: 93.8%;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.04;
    text-align: center;
    margin: 0 auto 9%;
  }
  .header__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media screen and (max-width: 320px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 7.19%;
  }
  .header__logo {
    width: 200px;
    height: auto;
    margin: 6.3% auto 15.7%;
  }
  .header__box {
    height: auto;
    margin: 0 auto 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto 19%;
  }
  .header__subtitle {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    margin: 0 auto 12.5%;
  }
  .header__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
