@media screen and (min-width: 1280px) {
  .places__kiev {
    width: 984px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .places__kiev-row {
    max-width: 100%;
    max-height: 152px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding-bottom: 48px;
  }
  .kiev__title {
    width: 460px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    margin: 0 40px 0 0;
  }
  .kiev__artist {
    width: 456px;
    height: auto;
    flex-direction: column;
    margin-top: 107px;
  }
  .kiev__title-artist {
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.21;
    color: #aaa;
    margin: 0;
    padding-bottom: 8px;
  }
  .kiev__subtitle-artist {
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    margin: 0;
  }
  .places__kiev-row-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }
  .places__kiev-left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 0;
  }
  .kiev-img {
    width: 460px;
    height: auto;
    margin: 0;
    padding-right: 40px;
    order: 1;
    padding-bottom: 48px;
    order: 1;
  }
  .places__button {
    order: 2;
  }
  .buy-nft {
    max-width: 355px;
    height: auto;
    background-color: #0278fe;
    color: #fff;
    border-radius: 4px;
    padding: 0;
    border: none;
    cursor: pointer;
    align-items: center;
    white-space: nowrap;
  }
  .buy-nft:hover {
    background: #0063d2;
  }
  .buy-paragraph {
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.21;
    margin: 0;
    padding: 13px 20px;
  }
  .kiev__paragraph-1 {
    flex: 1;
    width: 484px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.63;
    margin: 0;
    padding-bottom: 25px;
  }
  .kiev__paragraph-2 {
    flex: 1;
    width: 484px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.63;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .places__kiev {
    max-width: 733px;
    height: auto;
    display: flex;
    margin-bottom: 31px;
  }
  .places__kiev-column-1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
  }
  .places__kiev-column-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
  }
  .kiev-title {
    max-width: 340px;
    height: auto;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.05;
    margin: 0;
    padding-right: 28px;
    padding-bottom: 46px;
  }
  .kiev-img {
    max-width: 340px;
    height: auto;
    padding: 0 28px 48px 0;
    margin: 0;
  }
  .kiev-artist {
    max-width: 58px;
    height: auto;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.21;
    margin: 0;
    padding-bottom: 8px;
  }
  .kiev-artist-description {
    max-width: 365px;
    height: auto;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    margin: 0;
    padding-bottom: 44px;
  }
  .kiev__paragraph-1 {
    max-width: 352px;
    height: auto;
    font-size: calc(100% + 0.03vw);
    font-weight: 300;
    line-height: 1.63;
    margin: 0;
    padding-bottom: 25px;
  }
  .kiev__paragraph-2 {
    max-width: 352px;
    height: auto;
    font-size: calc(100% + 0.03vw);
    font-weight: 300;
    line-height: 1.63;
    margin: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .places__kiev {
    max-width: 320px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr;
    align-items: center;
    margin: 0 16px 31px;
  }

  .kiev-title {
    max-width: 288px;
    height: auto;
    margin: 0;
    font-size: 35px;
    font-weight: 900;
    line-height: 1.09;
    padding-bottom: 30px;
    order: 1;
  }

  .kiev-artist {
    max-width: 288px;
    height: auto;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.21;
    margin: 0;
    padding-bottom: 8px;
    order: 2;
  }

  .kiev-artist-description {
    max-width: 288px;
    height: auto;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    padding-bottom: 30px;
    order: 3;
  }

  .kiev-img {
    max-width: 320px;
    height: auto;
    margin: 0 -16px;
    padding-bottom: 30px;
    order: 4;
  }

  .kiev__paragraph-1 {
    max-width: 288px;
    height: auto;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    padding-bottom: 25px;
    order: 5;
  }

  .kiev__paragraph-2 {
    max-width: 288px;
    height: auto;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    order: 6;
  }
  .places__button {
    order: 7;
  }
}
