@media screen and (min-width: 1280px) {
  .places__kiev {
    width: 984px;
    height: auto;
    display: flex;
    margin-bottom: 80px;
  }
  .places__kiev-column-1 {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .places__kiev-column-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 107px;
  }

  .kiev-title {
    width: 460px;
    height: auto;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    margin: 0;
    padding-right: 40px;
  }
  .kiev-img {
    width: 460px;
    height: auto;
    padding: 48px 40px 48px 0;
    margin: 0;
  }
  .kiev-artist {
    width: 58px;
    height: auto;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.21;
    margin: 0;
    padding-bottom: 8px;
  }
  .kiev-artist-description {
    width: 456px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    margin: 0;
    padding-bottom: 48px;
  }
  .kiev__paragraph-1 {
    width: 484px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.63;
    margin: 0;
    padding-bottom: 25px;
  }
  .kiev__paragraph-2 {
    width: 484px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.63;
    margin: 0;
  }
}
