@media screen and (min-width: 1280px) {
  .places__muramvya {
    width: 984px;
    height: auto;
    display: flex;
    margin-bottom: 80px;
  }
  .places__muramvya-column-1 {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .places__muramvya-column-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 107px;
  }

  .muramvya-title {
    width: 460px;
    height: auto;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    padding-right: 40px;
    margin: 0;
  }
  .muramvya-img {
    width: 460px;
    height: auto;
    padding: 48px 40px 48px 0;
    margin: 0;
  }
  .muramvya-artist {
    width: 58px;
    height: auto;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.21;
    margin: 0;
    padding-bottom: 8px;
  }
  .muramvya-artist-description {
    width: 456px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    margin: 0;
    padding-bottom: 45px;
  }
  .muramvya__paragraph-1 {
    width: 480px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.63;
    padding-bottom: 25px;
    margin: 0;
  }
  .muramvya__paragraph-2 {
    width: 484px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.63;
    padding-bottom: 25px;
    margin: 0;
  }
  .muramvya__paragraph-3 {
    width: 484px;
    height: auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.63;
    margin: 0;
  }
}
