.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-family: "Inter", "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 320px) {
}
