.places {
  display: flex;
  flex-direction: column;
  width: 77.11%;
  row-gap: 80px;
  padding: 0;
  margin: 0 145px 92px;
  border: 1px solid red;
}
.places__item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.places__location {
  width: 93.4%;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0 0 48px;
}
.places__artist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 auto 48px;
}

.places__artist-title {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.21;
  color: #aaa;
  margin: 0;
}

.places__artist-description {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
}

.places__description {
  width: 93.6%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  grid-row: span 3;
}
.places__description-paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0;
}

.places__img {
  width: 93.4%;
  margin: 0 0 48px;
}
.places__item:nth-child(2) {
  .places__location {
    width: 104%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    display: flex;
    flex-direction: column;
    width: 93.8%;
    row-gap: 31px;
    padding: 0;
    margin: 0 auto 92px;
  }
  .places__location {
    width: 94.5%;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.09;
    margin: 0 0 46px;
  }
  .places__artist {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0 auto 46px;
  }

  .places__artist-title {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.21;
    color: #aaa;
  }

  .places__artist-description {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
  }

  .places__description {
    width: 92.6%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    grid-row: span 3;
  }
  .places__description-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    margin: 0;
  }

  .places__img {
    width: 94.5%;
    margin: 0 0 48px;
  }
  .places__item:nth-child(2) {
    .places__location {
      width: 100%;
      margin: 0 0 46px;
    }
    .places__artist {
      width: 96%;
      margin: 0 0 46px;
    }

    .places__artist-title {
      margin: 0;
    }

    .places__artist-description {
      margin: 0;
    }
  }
}
@media screen and (max-width: 620px) {
  .places {
    width: 100%;
    row-gap: 37px;
    padding: 0;
    margin: 0 auto 64px;
  }
  .places__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .places__location {
    width: 94.5%;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.09;
    margin: 0 auto 30px;
  }
  .places__artist {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0 auto 30px;
  }
  .places__img {
    width: 100%;
  }
  .places__description {
    width: 92.6%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    grid-row: span 3;
    margin: 0 auto 30px;
  }
  .places__item:nth-child(2) {
    .places__location {
      width: 94.5%;
      margin: 0 auto 30px;
    }
    .places__artist {
      width: 96%;
      margin: 0 auto 30px;
    }

    .places__artist-title {
      margin: 0;
    }

    .places__artist-description {
      margin: 0;
    }
  }
}
@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    row-gap: 37px;
    padding: 0;
    margin: 0 auto 64px;
  }
  .places__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .places__location {
    width: 100%;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.09;
    margin: 0 auto 12.1%;
  }
  .places__artist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0 auto 7.4%;
  }

  .places__artist-title {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.21;
    color: #aaa;
    margin: 0;
  }

  .places__artist-description {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    margin: 0;
  }

  .places__description {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    grid-row: span 3;
    margin: 0 auto 6.3%;
  }
  .places__description-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    margin: 0;
  }

  .places__img {
    width: 100%;
    margin: 0 0 30px;
  }
  .places__item:nth-child(2) {
    .places__location {
      width: 84.8%;
    }
    .places__artist-description {
      width: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.22;
      margin: 0;
    }

    .places__description {
      width: 90%;
      display: flex;
      flex-direction: column;
      row-gap: 14px;
      grid-row: span 3;
      margin: 0 auto 6.3%;
    }
    .places__description-paragraph {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.63;
      margin: 0;
    }

    .places__img {
      width: 320px;
      margin: 0 0 14.2%;
    }
  }
}
