@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);
@import url(../blocks/header.css);
@import url(../blocks/intro.css);
@import url(../blocks/places.css);
@import url(../blocks/kiev.css);
@import url(../blocks/criccieth.css);
@import url(../blocks/berea.css);
@import url(../blocks/muramvya.css);
@import url(../blocks/belem.css);

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2a2c2f;
  font-family: "Inter", "Arial Narrow Bold", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.page {
  width: 1280px;
  height: auto;
  color: #fff;
}
